[mysqld]
datadir=/data/mysql
socket=/run/mysqld/mysqld.sock
pid-file=/run/mysqld/mysqld.pid
bind-address=127.0.0.1
port=3306
skip-name-resolve
character-set-server=utf8mb4
collation-server=utf8mb4_general_ci
default-time-zone=+08:00
max-connections=50
innodb-buffer-pool-size=256M
innodb-redo-log-capacity=64M
table-open-cache=400
performance-schema=OFF

[client]
default-character-set=utf8mb4
socket=/run/mysqld/mysqld.sock
